.cart-page {
  padding: 30px 0;
}


.cart-title {
  margin: 20px 0;
  font-size: 28px;
  font-weight: 700;
  color: #2b2d42; 
  text-align: center;
}


.empty-cart {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  color: #6b7280; 
}
