.cart-page {
  padding: 30px 0;
 height: 100vh;

}


.cart-title {
  margin: 20px 0;
  font-size: 28px;
  font-weight: 700;
  color: #2b2d42; 
  text-align: center;
}


.empty-cart {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  color: #6b7280; 
}

.checkout-box-wrapper {
  margin: 20px 0 20px auto; 
  font-size: 20px;
  font-weight: 700;
  color: #2b2d42;
 
  
}

.checkout-total{
text-align: right;
  width: fit-content;
   margin: 20px 0 20px auto; 
   padding-right: 40px;
   
}

.checkout-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
   padding: 12px 22px;
  border: none;
  background: linear-gradient(135deg, #4b2849, #0a7484);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.25s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn:hover {
  background: linear-gradient(135deg, #5d3260, #0d899e);
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 170, 255, 0.3);
}

@media (max-width: 768px) {
  .checkout-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .checkout-btn {
    width: 100%;
    margin-top: 8px;
  }
}
