.filter-box {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
  margin-right: 20px;
  border :#111
  
}

.filter-box input,
.filter-box select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 14px;
}

.filter-btn {
  background: #111;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.filter-btn:hover {
  background: #333;
}

