.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}


.header {
  width: 100%;
  background: linear-gradient(135deg, #93f4b6, #8dc3f2, #3893f5);
  padding: 15px 0;
  color: #4b2849; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}


.logo-text {
  font-size: 26px;
  font-weight: 600;
  color: #4b2849;
  letter-spacing: 1px;
}


.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  color: #4b2849;
  text-decoration: none;
  font-size: 17px;
  padding: 8px 14px;
  border-radius: 12px;
  transition: 0.3s ease;
}


.nav a:hover {
  background: rgba(0, 170, 255, 0.15);
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.25);
  color: #0a7484; 
  transform: translateY(-2px);
}


.cart-badge {
  background: #ff3b3b;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
  color: white;
}



.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #4b2849;
}


@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    width: 70%;
    background: linear-gradient(135deg, #c2ffd8, #cce7ff);
    flex-direction: column;
    gap: 25px;
    padding: 30px 20px;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    border-radius: 12px 0 0 12px;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.15);
  }

  .nav.open {
    transform: translateX(0);
  }

  .mobile-search {
    width: 100%;
  }
}
