.home-container {
  padding: 30px 20px;
  max-width: 1300px;
  margin: auto;
  background: linear-gradient(
    135deg,
    #c2ffd8 0%,
    #cce7ff 50%,
    #b0d6ff 100%
    
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.home-search {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;
}


.home-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #0d0117; 
  text-align: center;
  letter-spacing: 1px;
}


.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 22px;
}
.home-grid:has(> :only-child) {
  grid-template-columns: 280px;   
  justify-content: center;       
}

.floating-back-btn {
  position: fixed;
  top: 110px;
  left: 24px;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;

  background: linear-gradient(135deg, #4b2849, #0a7484);
  color: #fff;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 999;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  transition: 0.25s ease;
}

.floating-back-btn:hover {
  transform: translateY(-3px);
}
@media (max-width: 768px) {
  .floating-back-btn {
    top: 78px;        
    left: 12px;

    width: 35px;
    height: 35px;
    font-size: 16px;

    box-shadow: 0 6px 16px rgba(0,0,0,0.22);
  }
}


.no-results {
  text-align: center;
  font-size: 20px;
  color: black; 
  margin-top: 40px;
}


.fade-in {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 768px) {
  .home-title {
    font-size: 26px;
  }
}

.category-section {
  margin-bottom: 50px;
}


.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 5px;
}

.category-title {
  font-size: 26px;
  font-weight: 700;
  color: #0d0117;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


.view-more-float {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background: linear-gradient(135deg, #4b2849, #0a7484);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 16px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  transition: 0.25s ease;
}

.view-more-float:hover {
  transform: translateX(4px);
  box-shadow: 0 12px 28px rgba(0, 170, 255, 0.35);
}

