
.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}


.loader {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #2563eb;
  border-right: 4px solid #6aa7ff;

  animation: spin 0.8s linear infinite, glow 1.2s ease-in-out infinite alternate;
}



@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px #2563eb, 0 0 10px #6aa7ff;
  }
  100% {
    box-shadow: 0 0 15px #2563eb, 0 0 30px #6aa7ff;
  }
}
