.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 520px;
}

.search-input-wrapper {
  position: relative;
  
}

.search-input {
  width: 100%;
  padding: 12px 44px 12px 44px; 
  border: 1px solid #ddd;
  font-size: 15px;
  outline: none;
  background-color: white;
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #9ca3af;
}

.clear-btn:hover {
  color: #ef4444;
}

.search-suggestions {
  position: absolute;
  top: 110%;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  z-index: 10;
  padding: 8px 0;
}

.suggestion-title {
  padding: 8px 16px;
  font-size: 13px;
  color: #6b7280;
  text-transform: uppercase;
}

.suggestion-item {
  display: flex;
  gap: 10px;
  padding: 12px 16px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f3f4f6;
}
.search-icon-left {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 14px;
}