.search-input {
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #aad4ff;
  background: white;
  width: 220px;
  outline: none;
  transition: 0.3s ease;
}

.search-input:focus {
  border-color: #0a7484;
  box-shadow: 0 0 8px rgba(0, 170, 255, 0.3);
}