@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(
    135deg,
    #c2ffd8 0%,
    #cce7ff 50%,
    #b0d6ff 100%
  );

  color: #4b2849; 
  min-height: 100vh;
}


html {
  scroll-behavior: smooth;
}
