@import "tailwindcss";




body{
   background: linear-gradient(
    135deg,
    #c2ffd8 0%,
    #cce7ff 50%,
    #b0d6ff 100%
  );
}


html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;

}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;   
  font-family: "Poppins", Arial, sans-serif;
  /*  */
   color: #4b2849; 
}
